@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
     user-select: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}








.custom_zoom {
   animation: change linear forwards;
   animation-timeline: scroll();
}

@keyframes change {
   to {
      scale: 1.3;
   }
}



.custom_bg {
   background-color: rgba(255, 255, 255, 0);
   animation: bg linear forwards;
   animation-timeline: scroll();
   animation-range: 300px 400px;
}

@keyframes bg {
   to {
      background-color: rgba(255, 255, 255, 0.418);
      border: 1px solid gray;
   }
}



.custom_bg2 {
   background-color: rgba(255, 255, 255, 0);
   backdrop-filter: blur(0);
   animation: hide linear forwards;
   animation-timeline: scroll();
   animation-range: 300px 400px;
}

@keyframes hide {
   to {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
   }
}

